<!DOCTYPE html>
<html>
  <head>
  </head>
  <h1>バックアップ戻し</h1>
  <body>
    <div class=<%=CLASS::MODORU %>>
      <%= link_to CONST_BTN::MODORU, "/depomain" %>
    </div>
    <br/>
    <%= form_tag("/backupupload",:method => 'post',multipart: true) do %>
      <table class=<%= CLASS::TABLECENTER %>>
        <tr><td><%= CONST::BACKUPUPLOAD1 %></td><td>　　　</td>
            <td><%= submit_tag CONST_BTN::JIKKOU, name:nil,data: {confirm: CONST_MSG::JIKKOUKAKUNIN}, :class=>"search btn-warning" %></td>
        <tr>
      </table>
      <br/>
      <br/>
      <table class=<%= CLASS::TABLECENTER %> border=2 width=600>
        <tr>
          <td><%= file_field_tag :file %></td>
        </tr>
      </table>
    <% end %>
    <br/>
    <br/>
    <br/>
    <% if flash[:danger] %>
      <div class="alert alert-danger">
        <span style="background-color:#FFFFFF"><%= flash[:danger] %></span>
      </div>
    <% end %>
  </body>
</html>